.menu__list {
	margin-top: 5px;
}

.menu__link {
	display: block;
	padding: 8px 24px 8px 0;
	border-right: 6px solid transparent;
	text-decoration: none;
	color: $darkgray;
	text-align: right;

		&:hover {
			color: $blue;
		}

}

.menu__icon,
.menu__text {
	display: inline-block;
	vertical-align: middle;
}

.menu__text {
	margin-left: 5px;
}

.menu__link	.menu__link:active,
.menu__item_selected .menu__link {
	color: $blue;
	border-color: $blue;
}

.menu__item_selected .menu__link {
	font-weight: 700;
}
